<!doctype html>
<html>
 
<head>
    <style type="text/css">
        .header{
            text-align: center;
            background-color: rgb(136, 185, 229);
            height: 70px;
            line-height: 70px;
        }
        .chart{
            margin-top: 30px;
            text-align: center;
        }
    </style>

        <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
 
<body>
 
    <div class="header">
        <h2>
            Your Resource usage summary
        </h2>
    </div>

    <div id="chart" class="chart">
    </div>

    <div id="natural_gas" class="chart">
    </div>
 
</body>
 
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 
    <script type="text/javascript">
         
        var graphs = {{ graphJSON[0] | safe }};
        
        Plotly.plot('chart', graphs, {});        
 
    </script>

    <script type="text/javascript">
         
        var graphs = {{ graphJSON[1] | safe }};
        
        Plotly.plot('natural_gas', graphs, {});        
 
    </script>
 
</html>